# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
#  == VERY IMPORTANT ==
admin
mobile
server
# desktop ini
desktop.ini
# ENV files ==
.env
.env.local
.env.*
.env.*.*